@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="text-center">
        <!--<h1 class="display-4">Welcome Team4!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->

        <select id="country" onchange="appendText(this)" name="country">
            <option>select country</option>
            <option value="ALL">None</option>
            <option value="BR">Brazil</option>
            <option value="CA">Canada</option>
            <option value="DE">Germany</option>
            <option value="IN">India</option>
            <option value="JP">Japan</option>
            <option value="KP">Korea, Democratic People's Republic of</option>
            <option value="KR">Korea, Republic of</option>
            <option value="MX">Mexico</option>
            <option value="ES">Spain</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States</option>
        </select>
    </div>

    <div id="form" class="text-center">
        <br><br>
        <label id="namelabel" for="name">Recipient name:</label>

        <input type="text" id="name" name="name"><br><br>

        <label id="addresslabel" for="address">Address Line: </label>

        <input type="text" id="address" name="address"><br><br>

        <label id="buildinglabel" for="building">Building and Unit Number: </label>

        <input type="text" id="building" name="building"><br><br>

        <label id="citylabel" for="city">City: </label>

        <input type="text" id="city" name="city"><br><br>

        <label id="statelabel" for="State">State: </label>

        <input type="text" id="state" name="state"><br><br>

        <label id="postcodelabel" for="postcode">ZipCode: </label>

        <input type="text" id="postcode" name="postcode"><br><br>
    </div>

    <button type="button" onclick="validateAddress()">Validate address</button>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function appendText(obj) {
        window.addEventListener('load', removeAllElement());
        switch (obj.value) {
            case 'BR':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "Recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Stree name and house/builiding number:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City-ProvinceCode:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                document.body.appendChild(form);
                break;

            case 'CA':
             
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Unit number and street name:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var provincelabel = document.createElement('label');
                provincelabel.setAttribute("id", "provincelabel");
                provincelabel.setAttribute("for", "province");
                provincelabel.innerText = "province:";

                var province = document.createElement('input');
                province.setAttribute("type", "text");
                province.setAttribute("id", "province");
                province.setAttribute("name", "province");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(provincelabel);
                form.appendChild(province);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                document.body.appendChild(form);
                break;

            case 'DE':
                
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Street address:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City/Town";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

              
                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);               
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                document.body.appendChild(form);
                break;

            case 'IN':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Flat Number and Street name:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City/Town/Locality:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                document.body.appendChild(form);
                break;

            case 'JP':

                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "street name and house/building number";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");


                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city/town/locality:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                document.body.appendChild(form);
                break;
            case 'KR':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "person name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var subdivisionlabel = document.createElement('label');
                subdivisionlabel.setAttribute("id", "subdivisionlabel");
                subdivisionlabel.setAttribute("for", "subdivision");
                subdivisionlabel.innerText = "subdivision:";

                var subdivision = document.createElement('input');
                subdivision.setAttribute("type", "text");
                subdivision.setAttribute("id", "subdivision");
                subdivision.setAttribute("name", "subdivision");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var provincelabel = document.createElement('label');
                provincelabel.setAttribute("id", "provincelabel");
                provincelabel.setAttribute("for", "province");
                provincelabel.innerText = "province:";

                var province = document.createElement('input');
                province.setAttribute("type", "text");
                province.setAttribute("id", "province");
                province.setAttribute("name", "province");


                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(subdivisionlabel);
                form.appendChild(subdivision);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(provincelabel);
                form.appendChild(province);
                document.body.appendChild(form);
                break;

            case 'KP':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "person name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var subdivisionlabel = document.createElement('label');
                subdivisionlabel.setAttribute("id", "subdivisionlabel");
                subdivisionlabel.setAttribute("for", "subdivision");
                subdivisionlabel.innerText = "subdivision:";

                var subdivision = document.createElement('input');
                subdivision.setAttribute("type", "text");
                subdivision.setAttribute("id", "subdivision");
                subdivision.setAttribute("name", "subdivision");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var provincelabel = document.createElement('label');
                provincelabel.setAttribute("id", "provincelabel");
                provincelabel.setAttribute("for", "province");
                provincelabel.innerText = "province:";

                var province = document.createElement('input');
                province.setAttribute("type", "text");
                province.setAttribute("id", "province");
                province.setAttribute("name", "province");


                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(subdivisionlabel);
                form.appendChild(subdivision);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(provincelabel);
                form.appendChild(province);
                document.body.appendChild(form);
                break;

            case 'MX':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var street = document.createElement('input');
                street.setAttribute("type", "text");
                street.setAttribute("id", "address");
                street.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var statelabel = document.createElement('label');
                statelabel.setAttribute("id", "statelabel");
                statelabel.setAttribute("for", "State");
                statelabel.innerText = "state:";

                var state = document.createElement('input');
                state.setAttribute("type", "text");
                state.setAttribute("id", "state");
                state.setAttribute("name", "state");


                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(street);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(statelabel);
                form.appendChild(state);
                document.body.appendChild(form);
                break;
            case 'ES':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var street = document.createElement('input');
                street.setAttribute("type", "text");
                street.setAttribute("id", "address");
                street.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(street);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                document.body.appendChild(form);

                break;

            case 'GB':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var street = document.createElement('input');
                street.setAttribute("type", "text");
                street.setAttribute("id", "address");
                street.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "building name:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "postal town:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(street);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());

                document.body.appendChild(form);
                break;
            case 'US':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var street = document.createElement('input');
                street.setAttribute("type", "text");
                street.setAttribute("id", "address");
                street.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "building number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var statelabel = document.createElement('label');
                statelabel.setAttribute("id", "statelabel");
                statelabel.setAttribute("for", "State");
                statelabel.innerText = "state:";

                var state = document.createElement('input');
                state.setAttribute("type", "text");
                state.setAttribute("id", "state");
                state.setAttribute("name", "state");


                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(street);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(statelabel);
                form.appendChild(state);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                document.body.appendChild(form);
                break;
            case 'ALL':
                var form = document.createElement('div');
                form.setAttribute("id", "form");
                form.setAttribute("class", "text-center");
                document.body.appendChild(form);

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var street = document.createElement('input');
                street.setAttribute("type", "text");
                street.setAttribute("id", "address");
                street.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "building number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var statelabel = document.createElement('label');
                statelabel.setAttribute("id", "statelabel");
                statelabel.setAttribute("for", "State");
                statelabel.innerText = "state:";

                var state = document.createElement('input');
                state.setAttribute("type", "text");
                state.setAttribute("id", "state");
                state.setAttribute("name", "state");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
              form.appendChild(streetlabel);
                form.appendChild(street);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(statelabel);
                form.appendChild(state);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                document.body.appendChild(form);
                break;

        }
    }

    function removeAllElement() {
        document.getElementById('form').remove();
    }

    function validateAddress() {
        let url = "https://localhost:44317/api/validateAddress"
        let xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                console.log(xhr.responseText);
            }
        };
        var recipient_name = "";
        if (document.getElementById("name")) {
            recipient_name = document.getElementById("name").value;
        }
        var street_address = "";
        if (document.getElementById("address")) {
            street_address = document.getElementById("address").value;
        }
        var city = "";
        if (document.getElementById("city")) {
            city = document.getElementById("city").value;
        }
        var state = "";
        if (document.getElementById("state")) {
            state = document.getElementById("state").value;
        }
        var country = "";
        if (document.getElementById("country")) {
            country = document.getElementById("country").value;
        }
        var post_code = "";
        if (document.getElementById("postcode")) {
            post_code = document.getElementById("postcode").value;
        }

        var data = JSON.stringify({ "recipient_name": recipient_name, "street_address": street_address, "city": city, "state": state, "post_code": post_code, "country": country});
        xhr.send(data);
        
    }
</script>
