@{
    ViewData["Title"] = "Home Page";
}


<body>
    <div class="text-center">
        <!--<h1 class="display-4">Welcome Team4!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->

        <select id="country" onchange="appendText(this)" name="country">
            <option value="US">select country</option>
            <option value="ALL">All</option>
            <option value="BR">Brazil</option>
            <option value="CA">Canada</option>
            <option value="DE">Germany</option>
            <option value="IN">India</option>
            <option value="JP">Japan</option>
            <option value="KP">Korea, Democratic People's Republic of</option>
            <option value="KR">Korea, Republic of</option>
            <option value="MX">Mexico</option>
            <option value="ES">Spain</option>
            <option value="GB">United Kingdom</option>
            <option value="US">United States</option>
        </select>
    </div>

    <div id="form" class="text-center">
        <br><br>
        <label id="namelabel" for="name">Recipient name:</label>

        <input type="text" id="name" name="name"><br><br>

        <label id="addresslabel" for="address">Address Line: </label>

        <input type="text" id="address" name="address"><br><br>

        <label id="buildinglabel" for="building">Building and Unit Number: </label>

        <input type="text" id="building" name="building"><br><br>

        <label id="citylabel" for="city">City: </label>

        <input type="text" id="city" name="city"><br><br>

        <label id="statelabel" for="State">State: </label>

        <select id="state" name="state">
            <option>select State</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="District of Columbia">District of Columbia</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Guam">Guam</option>
            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
            <option value="Palau">Palau</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Virgin Islands">Virgin Islands</option>
        </select>

        <br><br>

        <label id="postcodelabel" for="postcode">ZipCode: </label>

        <input type="text" id="postcode" name="postcode"><br><br>

        <button type="button" onclick="validateAddress()">Validate address</button><br><br>

        <button type="button" onclick="searchAddress()">Search address</button>

        <p id="searchResult"></p>
    </div>

</body>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function appendText(obj) {
        window.addEventListener('load', removeAllElement());
        var form = document.createElement('div');
        form.setAttribute("id", "form");
        form.setAttribute("class", "text-center");
        switch (obj.value) {
            case 'BR':
                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "Recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Stree name and house/builiding number:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City-ProvinceCode:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'CA':       

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Unit number and street name:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var provincelabel = document.createElement('label');
                provincelabel.setAttribute("id", "provincelabel");
                provincelabel.setAttribute("for", "province");
                provincelabel.innerText = "province:";

                var province = document.createElement('input');
                province.setAttribute("type", "text");
                province.setAttribute("id", "province");
                province.setAttribute("name", "province");
                var values = ["Alberta", "British Columbia", "Manitoba", "New Brunswick", "Newfoundland Labrador",
                              "Nova Scotia", "Northwest Territories", "Nunavut", "Ontario", "Prince Edward Island", "Quebec", "Saskatchewan", "Yukon"]

                var selectprovince = document.createElement("select");
                selectprovince.name = "province";
                selectprovince.id = "province  ";
                for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val;
                    selectprovince.appendChild(option)
                }

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(provincelabel);
                form.appendChild(selectprovince);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'DE':             

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Street address:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City/Town";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

              
                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);               
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'IN':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "Flat Number and Street name:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "City/Town/Locality:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'JP':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var addresslabel = document.createElement('label');
                addresslabel.setAttribute("id", "addresslabel");
                addresslabel.setAttribute("for", "address");
                addresslabel.innerText = "street name and house/building number";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Postal Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");


                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city/town/locality:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(addresslabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;
            case 'KR':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "person name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var subdivisionlabel = document.createElement('label');
                subdivisionlabel.setAttribute("id", "subdivisionlabel");
                subdivisionlabel.setAttribute("for", "subdivision");
                subdivisionlabel.innerText = "subdivision:";

                var subdivision = document.createElement('input');
                subdivision.setAttribute("type", "text");
                subdivision.setAttribute("id", "subdivision");
                subdivision.setAttribute("name", "subdivision");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var provincelabel = document.createElement('label');
                provincelabel.setAttribute("id", "provincelabel");
                provincelabel.setAttribute("for", "province");
                provincelabel.innerText = "province:";

                var province = document.createElement('input');
                province.setAttribute("type", "text");
                province.setAttribute("id", "province");
                province.setAttribute("name", "province");

                var values = ["North Chungcheong", "South Chungcheong", "Gangwon", "Gyeonggi", "North Gyeongsang", "South Gyeongsang", "North Jeolla", "South Jeolla", "Jeju"]

                var selectstate = document.createElement("select");
                selectstate.name = "state";
                selectstate.id = "state";
                for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val;
                    selectstate.appendChild(option)
                }
                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(subdivisionlabel);
                form.appendChild(subdivision);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(provincelabel);
                form.appendChild(selectstate);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'KP':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "person name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var subdivisionlabel = document.createElement('label');
                subdivisionlabel.setAttribute("id", "subdivisionlabel");
                subdivisionlabel.setAttribute("for", "subdivision");
                subdivisionlabel.innerText = "subdivision:";

                var subdivision = document.createElement('input');
                subdivision.setAttribute("type", "text");
                subdivision.setAttribute("id", "subdivision");
                subdivision.setAttribute("name", "subdivision");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var provincelabel = document.createElement('label');
                provincelabel.setAttribute("id", "provincelabel");
                provincelabel.setAttribute("for", "province");
                provincelabel.innerText = "province:";

                var values = ["Chagang", "North Hamgyong", "South Hamgyong", "North Hwanghae", "South Hwanghae", "Kangwon", "North Pyongan", "South Pyongan", "Ryanggang"]

                var selectstate = document.createElement("select");
                selectstate.name = "state";
                selectstate.id = "state";
                for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val;
                    selectstate.appendChild(option)
                }
               


                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(subdivisionlabel);
                form.appendChild(subdivision);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(provincelabel);
                form.appendChild(selectstate);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'MX':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var statelabel = document.createElement('label');
                statelabel.setAttribute("id", "statelabel");
                statelabel.setAttribute("for", "State");
                statelabel.innerText = "state:";


                var values = ["Distrito Federal", "Aguascalientes", "Baja California", "Baja California Sur", "Campeche", "Chiapas", "Chihuahua", "Coahuila", "Colima", "Durango", "Guanajuato", "Guerrero", "Hidalgo", "Jalisco",
                    "Michoacán", "Morelos", "Nayarit", "Nuevo Leon", "Oaxaca", "Puebla", "Querétaro", "Quintana Roo", "San Luis Potosi­", "Sinaloa", "Sonora", "Tabasco", "Tamaulipas", "Tlaxcala", "Veracruz", "Yucatan", "Zacatecas"]

                var selectstate = document.createElement("select");
                selectstate.name = "state";
                selectstate.id = "state";
                for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val;
                    selectstate.appendChild(option)
                }
                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(statelabel);
                form.appendChild(selectstate);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;
            case 'ES':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "house number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());

                break;

            case 'GB':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "building name:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "postal town:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;
            case 'US':

                var namelabel = document.createElement('label');
                namelabel.setAttribute("id", "namelabel");
                namelabel.setAttribute("for", "name");
                namelabel.innerText = "recipient name:";

                var name = document.createElement('input');
                name.setAttribute("type", "text");
                name.setAttribute("id", "name");
                name.setAttribute("name", "name");

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var buildinglabel = document.createElement('label');
                buildinglabel.setAttribute("id", "buildinglabel");
                buildinglabel.setAttribute("for", "building");
                buildinglabel.innerText = "building number:";

                var building = document.createElement('input');
                building.setAttribute("type", "text");
                building.setAttribute("id", "building");
                building.setAttribute("name", "building");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");

                var citylabel = document.createElement('label');
                citylabel.setAttribute("id", "citylabel");
                citylabel.setAttribute("for", "city");
                citylabel.innerText = "city:";

                var city = document.createElement('input');
                city.setAttribute("type", "text");
                city.setAttribute("id", "city");
                city.setAttribute("name", "city");

                var statelabel = document.createElement('label');
                statelabel.setAttribute("id", "statelabel");
                statelabel.setAttribute("for", "state");
                statelabel.innerText = "state:";

                var values = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illnois", "Indiana", "Iowa",
                    "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota",
                    "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"]

                var selectstate = document.createElement("select");
                selectstate.name = "state";
                selectstate.id = "state";
                for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val;
                    selectstate.appendChild(option)
                }

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(namelabel);
                form.appendChild(name);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(streetlabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(buildinglabel);
                form.appendChild(building);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(citylabel);
                form.appendChild(city);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(statelabel);
                form.appendChild(selectstate);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

            case 'ALL':               

                var streetlabel = document.createElement('label');
                streetlabel.setAttribute("id", "addresslabel");
                streetlabel.setAttribute("for", "address");
                streetlabel.innerText = "street:";

                var address = document.createElement('input');
                address.setAttribute("type", "text");
                address.setAttribute("id", "address");
                address.setAttribute("name", "address");

                var postcodelabel = document.createElement('label');
                postcodelabel.setAttribute("id", "postcodelabel");
                postcodelabel.setAttribute("for", "postcode");
                postcodelabel.innerText = "Post Code:";

                var postcode = document.createElement('input');
                postcode.setAttribute("type", "text");
                postcode.setAttribute("id", "postcode");
                postcode.setAttribute("name", "postcode");


                var statelabel = document.createElement('label');
                statelabel.setAttribute("id", "statelabel");
                statelabel.setAttribute("for", "state");
                statelabel.innerText = "state:";

                var state = document.createElement('input');
                state.setAttribute("type", "text");
                state.setAttribute("id", "state");
                state.setAttribute("name", "state");

                var emptyline = document.createElement("br");

                form.appendChild(emptyline);
                form.appendChild(streetlabel);
                form.appendChild(address);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(statelabel);
                form.appendChild(state);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                form.appendChild(postcodelabel);
                form.appendChild(postcode);
                form.appendChild(emptyline.cloneNode());
                form.appendChild(emptyline.cloneNode());
                break;

        }

        var vbutton = document.createElement('button');
        vbutton.setAttribute("type", "button");
        vbutton.setAttribute("onclick", "validateAddress()");
        vbutton.innerText = "Validate Address";
        form.appendChild(vbutton);
        form.appendChild(emptyline.cloneNode());
        form.appendChild(emptyline.cloneNode());
        var sbutton = document.createElement('button');
        sbutton.setAttribute("type", "button");
        sbutton.setAttribute("onclick", "searchAddress()");
        sbutton.innerText = "Search Address";
        form.appendChild(sbutton);
        form.appendChild(emptyline.cloneNode());
        form.appendChild(emptyline.cloneNode());
        var searchResult = document.createElement('label');
        searchResult.id = "searchResult";
        searchResult.innerText = "";
        form.appendChild(searchResult);
        document.body.appendChild(form);
    }

    function removeAllElement() {
        document.getElementById('form').remove();
    }

    function validateAddress() {
        let url = "https://localhost:44317/api/validateAddress"
        let xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                alert(xhr.responseText.replace(/\\n/mg, "\n"));
            }
        };
        var recipient_name = "";
        if (document.getElementById("name")) {
            recipient_name = document.getElementById("name").value;
        }
        var street_address = "";
        if (document.getElementById("address")) {
            street_address = document.getElementById("address").value;
        }
        var city = "";
        if (document.getElementById("city")) {
            city = document.getElementById("city").value;
        }
        var state = "";
        if (document.getElementById("state")) {
            state = document.getElementById("state").value;
        }
        var country = "";
        if (document.getElementById("country")) {
            country = document.getElementById("country").value;
        }
        var post_code = "";
        if (document.getElementById("postcode")) {
            post_code = document.getElementById("postcode").value;
        }
        var subdivision = "";
        if (document.getElementById("subdivision")) {
            subdivision = document.getElementById("subdivision").value;
        }
        var building = "";
        if (document.getElementById("building")) {
            building = document.getElementById("building").value;
        }

        var data = JSON.stringify({
            "recipient_name": recipient_name, "street_address": street_address, "building": building, "city": city, "state": state, "subdivision": subdivision, "post_code": post_code, "country": country
        });
        xhr.send(data);
        
    }

    function searchAddress() {
        let url = "https://localhost:44317/api/searchAddress"
        let xhr = new XMLHttpRequest();
        xhr.open("POST", url);
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                var addresses = document.getElementById('searchResult');
                var result = xhr.responseText.replace(/\\n/mg, "\n");
                searchResult.innerText = result.replace(/\\/mg, "");
            }
        };
        var recipient_name = "";
        if (document.getElementById("name")) {
            recipient_name = document.getElementById("name").value;
        }
        var street_address = "";
        if (document.getElementById("address")) {
            street_address = document.getElementById("address").value;
        }
        var city = "";
        if (document.getElementById("city")) {
            city = document.getElementById("city").value;
        }
        var state = "";
        if (document.getElementById("state")) {
            state = document.getElementById("state").value;
        }
        var country = "";
        if (document.getElementById("country")) {
            country = document.getElementById("country").value;
            if (country == "ALL") country = "";
        }
        var post_code = "";
        if (document.getElementById("postcode")) {
            post_code = document.getElementById("postcode").value;
        }
        var subdivision = "";
        if (document.getElementById("subdivision")) {
            subdivision = document.getElementById("subdivision").value;
        }

        var data = JSON.stringify({
            "recipient_name": recipient_name, "street_address": street_address, "city": city, "state": state, "subdivision": subdivision, "post_code": post_code, "country": country
        });
        xhr.send(data);
    }
</script>
